<p>Kategori kan inte matchas för följande låntagare</p>
<p>Kortnummer: <%= @cardnumber %></p>
<p>Personnummer: <%= @personalnumber %></p>
<p>Efternamn: <%= @surname %></p>
<p>Förnamn: <%= @firstname %></p>
