koha:
  base_url: <baseurl>
  user: <username>
  password: <password>

mail_settings:
  delivery_options:
    address: <address>
    port: 25
  from_email: <from>
  to_email: <to>

external_update:
  path: <path/to/update/script>